@{
    ViewData["Title"] = "Home Page";
}


<div class="text-center" id="elDemo">
    <h1 class="display-4">Welcome {{dummytext}}</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>

    <div>
        <input id="name" />
        <input id="role" />
        <input id="gender" />
        <input id="description" />
        <input id="occupation" />
    </div>

</div>

@section scripts {
    <script src="~/lib/vue/dist/vue.js"></script>
    <script>var x = new Vue({
            el: "#elDemo",
            data: {
                dummytext: 'dummy',
                familyMembers: []

            },
            created: function () {
                fetch('/api/FamilyMembers/GetFamilyMembers')
                    .then(function (response) {
                        response.json().then(function (data) {
                            console.log('/api/FamilyMembers/GetFamilyMembers', data);
                            this.familyMembers = data;
                            let nameId = document.getElementById("name");
                            let roleId = document.getElementById("role");
                            let genderId = document.getElementById("gender");
                            let descriptionId = document.getElementById("description");
                            let occupationId = document.getElementById("occupation");

                            nameId.value = data[3].name;
                            roleId.value = data[3].role;
                            genderId.value = data[3].gender;
                            descriptionId.value = data[3].description;
                            occupationId.value = data[3].occupation;

                        })
                    })
                fetch('/api/FamilyMembers/GetFamilyMember/5')
                    .then(function (response) {
                        response.json().then(function (data) {
                            console.log('/api/FamilyMember', data);
                        })
                    })
            }
        })</script>
}